<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/admin/edit-product/"  method="post">
            <div class="form-control">
              <label for="title">title</label>
              <p><%=product.title %> </p>
              <input type="text" name="title" />
              <label for="price">price</label>
              <p><%=product.price  %> </p>
              <input type="number" name="price" />

              <label for="description">description</label>
              <p><%=product.description  %> </p>
              <textarea
                name="description"
                placeholder="enter description"
              ></textarea>
              <label for="imageUrl">imageUrl</label>
              <input type="text" name="imageUrl" />
              <input type="hidden" name="_csrf" value="<%=csrfToken %> ">
              <input type="text" name="productId" style="display: none;" value="<%=product.id %>" />
           
              <button type="submit">
                Update Product
              </button>
            </div>
          </form>
    </main>
<%- include('../includes/end.ejs') %>